@import "reset.css";

body {
	color: #000;
	font-size: 16px;
}
.products {
	display: flex;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
.productsBody {
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;

	margin: 50px 0px 100px 0px;
}
.productsBody img {
	width: 350px;
	height: 200px;
}
.productsColumn a {
	display: block;
	margin: 10px 20px;
}
.productsColumn p {
	text-align: center;
	margin: 0px 0px 20px 0px;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 1.4rem;
}

.task4 {
	text-align: center;
	margin: 30px 0px 0px 0px;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 1.4rem;
}
.task4 img {
	width: 350px;
	height: 200px;
}
.task4 p {
	margin: 0px 0px 10px 0px;
}
