@import "reset.css";

body {
	color: #000;
	font-size: 16px;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.taskHomeWork {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 40px 20px;
}
.taskHomeWork img {
	width: 560px;
	min-height: 350px;
	margin: 10px 10px;
}
.task1,
.task2,
.task3,
.task4 p {
	font-size: 1.3rem;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	color: #000;
}
.task4 img {
	width: 560px;
	min-height: 350px;
	margin: 10px 10px;
}
.task4 {
	text-align: center;
}
